@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui"{
  themes:dark --prefersdark;
}

@plugin "daisyui"{
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary:#6366F1;
  --color-secondary: 	#F3F4F6;
  --color-accent: #10B981;
  --color-highlight:#F59E0B;
}

